.sc-vis{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sc-vis .top{
    font-size: 18px;
    font-weight: 700;
    margin-left: 50px;
}
.sc-vis .bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sc-vis .bottom .main{
    font-size: 182px;
    font-weight: 700;
}
.sc-vis .bottom .arrow{
    padding: 100px 0 200px 0;
    transform: rotate(65deg);
    width: 40px;
    height: 40px;
}


.sc-prj{
    /* background: red; */
    position: relative;
    padding: 100px 0 250px;
}

.sc-prj .group-prj{
}
.sc-prj .group-prj.reverse{
    flex-direction: row-reverse;
}
.sc-prj .img-wrap{
    display: block;
    width:60vw;
    /* padding-bottom: 100%; */
}
.sc-prj .img-wrap .box{
    position: relative;
    display: block;
    padding-bottom: 70%;
    background: #f00;
}
.sc-prj .img-wrap img{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.sc-prj .bottom-wrap{
    display: flex;
    flex-direction: column;
    transform: translateY(-20%);
    padding-left: 30vw;
}
.sc-prj.reverse .img-wrap{
    margin-left: auto;
}
.sc-prj .group-prj.reverse .txt-wrap{
}

.sc-prj .title{
    font-size: 10vw;
    font-weight: 700;
}
.sc-prj .txt-wrap{
    display: flex;
    gap: 30px;
}

.sc-prj .txt-wrap {
    font-size: 20px;
    padding: 20px 0;
    line-height: 1.8;
    
}
.sc-prj .txt-wrap .cate{font-weight: bold;}
.sc-prj .txt-wrap .method{
    color: #fff;
}
.sc-prj .txt-wrap .date{
    color: #fff;
    opacity: 0.6;
}
.sc-prj .view {
    width: 120px;
    transform: rotate(-30deg);
}